* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 14px 50px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
}

/* Left side */
.left 
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.img 
{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: bold;
}

.img img 
{
    width: 30px;
    height: 30px;
}


/* Search */
.search 
{
    position: relative;
}

.search img 
{
    position: absolute;
    margin-top: 17px;
    left: 12px;
    transform: translateY(-50%);
    width: 16px;
    opacity: 0.6;
}

.search input 
{
    width: 320px;
    padding: 9px 14px 9px 38px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Right side */
.right 
{
    display: flex;
    align-items: center;
    gap: 18px;
}

.right a , .categories
{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.cart
{
    width: 20px;
    cursor: pointer;
}


.small
{
    margin-top: 170px;
}

.splice
{
    display: flex;
    margin-left: 17px;
}


.splice h2
{
    font-size: 23px;
}


.splice div ul
{
    display: flex;
    margin-left: 70px;
}


.splice div ul li
{
    list-style: none;
}


.splice div ul i
{
    margin-left: 7px;
    color: #a1a1a1;
}


.one
{
   border-radius: 17px;
   margin-left: 17px;
   padding: 7px;
   margin-top: 30px;
   height: 107vh;
   display: flex;
}


.borderline
{
    border: 1px solid #dedbdb;
    border-radius: 17px;
    margin-top: 17px;
    padding: 17px 30px;
    margin-left: 30px;
    background-color: rgb(239, 240, 242);
}


.everything
{
    width: 63%;
}


.everything h3
{
    font-size: 23px;
    margin-bottom: 17px;
    margin-left: 17px;
}


input
{
  width:100%;
  padding: 7px;
  border:1px solid #e5e7eb;
  border-radius:17px;
  margin-bottom:15px;
  
}


.first
{
  border:2px solid #6366f1;
  border-radius: 17px;
  padding: 17px;
  margin-bottom: 7px;
}


.payment
{
  display:flex;
  justify-content:space-between;
  margin-bottom:15px;
}


.payment img
{
    height: 17px;
    margin-top: 17px;
}


.payment1
{
    display: flex;
    justify-content:space-between;
    margin-bottom:15px;
    border-radius: 17px;
    background-color: rgb(232, 232, 232);
    padding: 7px;

}


.payment1 img
{
    height: 17px;
    margin-top: 17px;
    margin-right: 17px;
}


.side
{
    display: flex;
    margin-top: 17px;
}


.side label
{
    margin-left: 7px;
}


.right1
{
    margin-top: 3px;
    margin-left: 100px;
}


.right1 h4
{
    font-size: 23px;
    margin-bottom: 13px;
}


.photo
{
    display: flex;
    background-color: rgb(239, 240, 242);
    border-radius: 17px ;
}


.photo h5
{
    font-size: 17px;
    color: #1e66c4;
}


.photo img
{
    width: 177px;
    height: 153px;
    padding: 7px;
}


.two
{
    margin-left: 17px;
    height: 153px;
    border-radius: 17px;
    padding-left: 17px;
    padding-top: 7px;
}


.middle
{
    color: #555;
    font-size: smaller;
}


.two p
{
    margin-top: 17px;
}


.coupon
{
    background-color: rgb(239, 240, 242) ;
    margin: 17px 0;
    border-radius: 17px;
    height: 37px;
    padding-left: 17px;
    padding-top: 10px;
}


.price
{
    background-color: rgb(239, 240, 242);
    border-radius: 17px;
    padding: 7px;
    margin:10px 0;
    border: 1px solid #dedbdb;
}


.price div
{
    display:flex;
    justify-content:space-between;
    margin: 17px 0;
}


.sum
{
    font-weight: bolder;
}


.button
{
    background-color: rgb(11, 11, 11);
    color: #fff;
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    margin-top: 17px;
}


.table
{
    background-color: #121e36;
    color: #cbd5e1;
    padding: 70px 80px;
    margin-top: 300px;
}


.container
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 50px;
}


.sub1
{
    max-width: 420px;
}


.sub2
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.sub2 img
{
    width: 33px;
}


.sub2 span
{
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}


.sub1 p 
{
    font-size: 15px;
    line-height: 1.7;
}


/* Other columns */
.columns h4
{
    color: #fff;
    font-size: 17px;
    margin-bottom: 17px;
}


.columns a
{
    display: block;
    text-decoration: none;
    color: #cbd5e1;
    font-size: 15px;
    margin-bottom: 10px;
}


.columns p
{
    font-size: 14px;
    margin-bottom: 10px;
}


.footer
{
    justify-content: center;
    text-align: center;
    font-size: larger;
    margin-top: 17px;
}


.social
{
   margin: 30px;
}


@media (max-width: 576px) 
{
    .header 
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
    }

    .left 
    {
        gap: 8px;
    }

    .img img 
    {
        width: 25px;
        height: 25px;
    }

    .search input 
    {
        width: 100%;
        padding: 7px 10px 7px 34px;
        font-size: 14px;
    }

    .right 
    {
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 10px;
    }

    .small 
    {
        margin-top: 140px;
    }

    #courses 
    {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    #mentors, #testimonials 
    {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .coursecard img, .mentorcard img, .testimonialcard img 
    {
        width: 100%;
        height: auto;
    }

    .container 
    {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer 
    {
        font-size: medium;
    }
}