* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 14px 50px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
}

/* Left side */
.left 
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.img 
{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: bold;
}

.img img 
{
    width: 30px;
    height: 30px;
}


/* Search */
.search 
{
    position: relative;
}

.search img 
{
    position: absolute;
    margin-top: 17px;
    left: 12px;
    transform: translateY(-50%);
    width: 16px;
    opacity: 0.6;
}

.search input 
{
    width: 320px;
    padding: 9px 14px 9px 38px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Right side */
.right 
{
    display: flex;
    align-items: center;
    gap: 18px;
}

.right a , .categories
{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.cart
{
    width: 20px;
    cursor: pointer;
}


.shopping
{
    margin-top: 130px;
    display: flex;
    margin-bottom: 30px;
}


.shopping1
{
    display: flex;
}


.splice
{
    display: flex;
    margin-left: 17px;
}


.splice h2
{
    font-size: 23px;
}


.splice div ul
{
    display: flex;
    margin-left: 70px;
}


.splice div ul li
{
    list-style: none;
}


.splice div ul i
{
    margin-left: 7px;
    color: #a1a1a1;
}


.dot , .dot1
{
    margin-right: 17px;
    margin-top: 5px;
}


.dot1
{
    color: #1e66c4;
}


.right1
{
    margin-top: 3px;
    margin-left: 300px;
    width: 370px;
}


.right1 h4
{
    font-size: 23px;
    margin-bottom: 13px;
}


.book
{
    display: flex;
}


.photo
{
    display: flex;
    background-color: rgb(239, 240, 242);
    border-radius: 17px ;
    margin-top: 17px;
    height: 170px;
    border: 1px solid #e1e0e0;
    margin-left: 17px;
    padding: 7px 17px 0 17px;
}


.photo:hover
{
    transform: translateY(-7px);
    box-shadow: 0 7px 27px #9b9a9a;
}


.hr
{
    width: 533px;
    margin-left:  17px;
    margin-top: 7px;
}


.photo h5
{
    font-size: 17px;
    color: #1e66c4;
}


.photo img
{
    width: 177px;
    height: 153px;
    padding: 7px;
}


.two
{
    margin-left: 17px;
    height: 153px;
    border-radius: 17px;
    padding-left: 17px;
    padding-top: 7px;
}


.middle
{
    color: #555;
    font-size: smaller;
}


.two p
{
    margin-top: 17px;
}


.price
{
    background-color: rgb(239, 240, 242);
    border-radius: 17px;
    padding: 7px;
    margin:10px 0;
    border: 1px solid #dedbdb;
}


.price div
{
    display:flex;
    justify-content:space-between;
    margin: 17px 0;
}


.sum
{
    font-weight: bolder;
}


.button
{
    background-color: rgb(11, 11, 11);
    color: #fff;
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 17px;
    cursor: pointer
}


.table
{
    background-color: #121e36;
    color: #cbd5e1;
    padding: 70px 80px;
    margin-top: 300px;
}


.container
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 50px;
}


.sub1
{
    max-width: 420px;
}


.sub2
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.sub2 img
{
    width: 33px;
}


.sub2 span
{
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}


.sub1 p {
    font-size: 15px;
    line-height: 1.7;
}


/* Other columns */
.columns h4
{
    color: #fff;
    font-size: 17px;
    margin-bottom: 17px;
}


.columns a
{
    display: block;
    text-decoration: none;
    color: #cbd5e1;
    font-size: 15px;
    margin-bottom: 10px;
}


.columns p
{
    font-size: 14px;
    margin-bottom: 10px;
}


.footer
{
    justify-content: center;
    text-align: center;
    font-size: larger;
    margin-top: 17px;
}


.social
{
   margin: 30px;
}


@media (max-width: 576px) 
{

    .header 
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
    }

    .img img 
    {
        width: 25px;
        height: 25px;
    }

    .search input 
    {
        width: 100%;
    }

    .right 
    {
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 10px;
    }

    .shopping, .shopping1, .book 
    {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .photo 
    {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 10px;
        margin-left: 0;
    }

    .photo img 
    {
        width: 100%;
        height: auto;
    }

    .two
    {
        margin-left: 0;
        height: auto;
        padding-left: 0;
        padding-top: 7px;
    }

    .right1
    {
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }

    .price div
    {
        flex-direction: column;
        gap: 5px;
    }

    .button
    {
        width: 100%;
    }

    .container 
    {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .footer 
    {
        font-size: medium;
    }

    .social 
    {
        margin: 10px 0;
    }
}